* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: auto;
    margin-top: 1rem;
    width: 90% ;
} 

td {          
    text-align: center;
    vertical-align: middle;
}


tr {
    text-align: center;
}


.img-thumbnail{
    width: 100% !important;
    height: auto !important;
}

i {
    font-size: 1.2rem;
}

.img-square {
    width: 200px !important;
    height: 200px !important;
} 

.table-width {
    max-width: 100%;
}

.manageProduct {           
    margin: auto;
}

.userImage {
    width: 100px !important;
    height: auto !important;
}

.hero {
    background: rgb(2,0,40);
    background: linear-gradient(30deg, rgba(2,0,40,1) 0%, rgba(0,212,255,1) 100%);   
}


// Medium devices (tablets)
@media screen and (min-width: 768px) {
    i {
        font-size: 1rem;
    }


}

// Large devices (desktops, less than 1200px)
@media screen and (min-width: 1200px) {
    .img-thumbnail{
        width: 25% !important;
        height: auto !important;
    }

    .table-width {
        max-width: 90%;
    }

}
